#root {  display: flex;
    
   
    margin-top: 41px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-right: 541px;
    margin-left: 522px;
    
  
    border: 1px  rgb(162, 7, 7) solid;
  
    text-align: center;
    background-color: rgb(162, 7, 7);
    border-radius: 3%;
}
img {
  width: 352px;
}
body {
  background-image: url(/stickers-drapeau-de-la-tunisie.jpg) ;
}

button{
  color: white;
    background-color: #ff000000;
    border: none;

}